<mat-toolbar >
  <span>{{user.username}} - Posts</span>
</mat-toolbar>

<div mat-dialog-content >
  <div class="oc-table">
    <div class="theader">
      <div class="margin-r">Id</div>
      <div class="margin-r">Name</div>
    </div>
    <div class="oc-list-content y-scroll" [ocFsceenlist]="exch">
      <div class="tbodytr" *ngFor="let item of items">
        <div class="margin-r" >{{item.id}}</div>
        <div class="margin-r" >{{item.title}}</div>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions >
  <button
    color="primary"
    mat-raised-button
    (click)="close()">Close</button>
</div>
