/* You can add global styles to this file, and also import other style files */
@import "~spi-ng2/spi-style.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.mat-dialog-container{
  padding: 0 !important;

  .mat-dialog-content{
    padding: 24px !important;
    margin: 0;
  }

  .mat-dialog-actions{
    padding: 0 24px 24px !important;;
    margin: 0 !important;;
  }
}

.mat-dialog-actions{
  justify-content:flex-end;
}


.toolbar-icon-spacer{
  padding: 0 8px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.full-width{
  width: 100%;
}

.create-button{
  position: absolute !important;;
  left: 10px;
  top: 0;
}
